form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #000000;
    border-radius: 10px;
  }
  
  h1 {
    text-align: center;
    font-size: 28px;
    color: #ffffff;
    margin-bottom: 30px;
  }
  
  label {
    display: block;
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
    width: 378px;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
  }
  
  input[type="radio"] {
    margin-right: 10px;
  }
  
  input[type="submit"] {
    background-color: #b90303;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #960808;
  }

  .success-message {
    color: white ;
    font-size: 18px;
    margin-top: 20px;
    padding: 20px;
  background-color: green;
  }
  
    .error-message {
    color: white;
    font-size: 18px;
    margin-top: 20px;
        padding: 20px;
  background-color: red;
  }